cassandra-driver==3.7.1
cffi==1.8.3
cryptography==3.2
ecdsa==0.13.3
enum34==1.1.6
futures==3.0.5
idna==2.1
ipaddress==1.0.17
paramiko==2.0.9
py==1.4.31
pyasn1==0.1.9
pycparser==2.16
pycrypto==2.6.1
pytest==3.0.3
PyYAML==5.1
requests==2.11.1
six==1.10.0
